body {
  background: peachpuff;
  font-family: monospace;
  text-align: center;

}

/*main {
  margin-left: 50em;
  margin-top: -24em;
  font-family: monospace;
  text-align: center;

} 

.container {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(4, [col-start] 1fr);
    margin: auto;
    position: relative;
}

.grid-container {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(4, [col-start] 1fr);
  margin: auto;
} */

.container {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(4, [col-start] 1fr);
  position: absolute ;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
 
}

.container > div {
display: flex;
flex-grow: 1;
justify-content: center;
align-items: center;
font-weight:bolder;
}

.grid-container  {
display: grid;
gap: 14px;
grid-template-columns: repeat(4, [col-start] 1fr);
position: relative;
grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));

}

.grid-container > div {
display: flex;
flex-grow: 1;
justify-content: center;
align-items: center;
font-weight:bolder;
}

.a {
  grid-column: col-start 2/ span 1;
  grid-row:5;
  width: 188px;
  height: 50px;
  background-color: rgb(180, 187, 206);
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-bottom: -0.7em;
}

.b {

    grid-column: col-start 2/ span 1;
    grid-row: 6;
    width: 50px;
    height: 50px;
    background-color: rgb(180, 187, 206);
    border-style: solid;
    border-color: rgb(164, 164, 164);
    border-width: 2px;
    

}

.c {

  grid-column: col-start 2/ span 1;
  grid-row: 6;
  width: 50px;
  height: 50px;
  background-color: rgb(180, 187, 206);
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-left: 5.3em;
  

}

.d {

  grid-column: col-start 2/ span 1;
  grid-row: 6;
  width: 50px;
  height: 50px;
  background-color: rgb(180, 187, 206);
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-left: 10.5em;

}

.e {

  grid-column: col-start 2/ span 1;
  grid-row: 7;
  width: 50px;
  height: 50px;
  background-color: rgb(180, 187, 206);
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  

}
.f {

  grid-column: col-start 2/ span 1;
  grid-row: 7;
  width: 50px;
  height: 50px;
  background-color: rgb(180, 187, 206);
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-left: 5.3em;
  

}

.g {

  grid-column: col-start 2/ span 1;
  grid-row: 7;
  width: 50px;
  height: 50px;
  background-color: rgb(180, 187, 206);
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-left: 10.5em;

}

.h {
  grid-column: col-start 2/ span 1;
  grid-row: 8;
  width: 188px;
  height: 90px;
  background-color: rgb(180, 187, 206);
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-top: -0.6em;
}

.grid-a {
  grid-column: col-start 2/ span 1;
  grid-row:5;
  width: 333px;
  height: 70px;
  background-color: lightcoral;
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-bottom: -0.7em;
}

.grid-b {

    grid-column: col-start 2/ span 1;
    grid-row: 6;
    width: 73px;
    height: 73px;
    background-color: lightcoral;
    border-style: solid;
    border-color: rgb(164, 164, 164);
    border-width: 2px;
    

}

.grid-c {

  grid-column: col-start 2/ span 1;
  grid-row: 6;
  width: 73px;
  height: 73px;
  background-color: lightcoral;
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-left: 6.3em;
  

}

.grid-d {

  grid-column: col-start 2/ span 1;
  grid-row: 6;
  width: 73px;
  height: 73px;
  background-color: lightcoral;
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-left: 12.5em;

}

.grid-e {

  grid-column: col-start 2/ span 1;
  grid-row: 7;
  width: 73px;
  height: 73px;
  background-color: lightcoral;
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-top: -7em;
  

}
.grid-f {

  grid-column: col-start 2/ span 1;
  grid-row: 7;
  width: 73px;
  height: 73px;
  background-color: lightcoral;
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-left: 6.3em;
  margin-top: -7em;
  

}

.grid-g {

  grid-column: col-start 2/ span 1;
  grid-row: 7;
  width: 73px;
  height: 73px;
  background-color: lightcoral;
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-left: 12.5em;
  margin-top: -7em;

}

.grid-h {
  grid-column: col-start 2 / span 1;
  grid-row: 6;
  background-color: lightcoral;
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  width: 85px;
  height: 148px;
  margin-left: 19em;
  margin-top: 0.1em;
  padding-bottom: 0.3em;
}

/*.grid-a {
  grid-column: col-start 2/ span 1;
  grid-row:3;
  width: 45px;
  height: 150px;
  padding-right: 13.5em;
  padding-bottom: 1.27em;
  background-color: lightcoral;
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;

}

.grid-b {
    grid-column: col-start 2/ span 1;
    grid-row: 6;
    width: 15px;
    height: 280px;
    background-color: lightcoral;
    border-style: solid;
    border-color: rgb(164, 164, 164);
    border-width: 2px;
    padding-right: 1.2em;
    padding-bottom: 0.4em;
    

}

.grid-c {
  grid-column: col-start 2/ span 1;
  grid-row: 6;
  width: 15%;
  height: 280%;
  background-color:lightcoral;
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-left: 6.1em;
  padding-right: 1.2em;
  padding-bottom: 0.4em;
 

}

.grid-d {
  grid-column: col-start 2/ span 1;
  grid-row: 6;
  width: 15%;
  height: 280%;
  background-color: lightcoral;
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  margin-left: 12em;
  padding-right:1.2em;
  padding-bottom: 0.4em;
  
}

.grid-e {
  grid-column: col-start 2/ span 1;
  grid-row: 11;
  width: 15%;
  height: 280%;
  background-color: lightcoral;
  border-style: solid;
  border-color: rgb(164, 164, 164);
  border-width: 2px;
  padding-right: 1.2em;
  padding-bottom: 0.4em;
  
  
}

.grid-f {
grid-column: col-start 2/ span 1;
grid-row: 11;
width: 15%;
  height: 280%;
background-color:lightcoral;
border-style: solid;
border-color: rgb(164, 164, 164);
border-width: 2px;
margin-left: 6.1em;
padding-right: 1.2em;
padding-bottom: 0.4em;

}

.grid-g {
grid-column: col-start 2/ span 1;
grid-row: 11;
width: 15%;
height: 280%;
background-color:lightcoral;
border-style: solid;
border-color: rgb(164, 164, 164);
border-width: 2px;
margin-left: 12em;
padding-right: 1.2em;
padding-bottom: 0.4em;

}
*/
