body {
  background: blanchedalmond;
  margin: 0;
  font-family: monospace;
}

main {
  background: blanchedalmond;
  font-family: monospace;
  text-align: center;
  margin-top: -26em;
  font-family: monospace;
  
}


.container > div {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  position: relative;
} 

.grid-container > div {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 165, 190);
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.a {
  display: flexbox;
  flex-direction: column;
  background-color: rgb(120, 170, 156);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 200px;
  height: 50px;
  text-align: center;
  justify-content: space-between;
  margin: 10px;
  
}

.grid-a {
    width: 300px;
    height: 45px;
    margin-left: 50em;

}

.b {
  display: inline-flexbox;
  flex-direction: column;
  background-color: rgb(120, 170, 156);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 200px;
  height: 200px;
  text-align: center;
  justify-content: space-between;
  margin: 10px;
 
}

.grid-b {
  width: 225px;
    height: 100px;
    margin-left: 50em;
    margin-top: 0.5em;
  
}


.c {
  display: inline-flexbox;
  flex-direction: column;
  background-color:rgb(120, 170, 156);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 200px;
  height: 50px;
  text-align: center;
  justify-content: space-between;
  margin: 10px; 
  
}

.grid-c {
  width: 65px;
  height: 100px;
  margin-left: 68em;
  margin-top: -8em;
}
